.home-section-1{
    position: relative;
    width: 100%;
    height: 90vh;
    
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.home-box-row{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
  
  padding: 20px;
  margin: 15px;
 

  }
  .home-box-1{
    
    
    background: rgb(255, 255, 255, 0.5);  /* fallback for old browsers */;
    border-radius: 15px;
    
  }

  .home-text-hello{
    color:#cb2d3e
  }
  .home-text-friends{
     
  }
.home-bg-video{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.btn-me{
  background-color: #cb2d3e!important;
}
.btn-me:hover{
  background-color: rgb(255, 255, 255, 0.5)!important;
  color: #cb2d3e!important;

}





