.hide{
  display: none;
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.logoku{
  height: 5vh;
}
.header-color{
  /* background: #5D5C5D; */
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.link-white{
  color:white
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box-row{

  
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .75)
}
.box-1{
  
  padding: 2em;
  
}
.box-col-1{
  background: #cb2d3e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.text-hello{
  color:white
}
.text-friends{
  color:  #cb2d3e
}


.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.cloud{
  position: absolute;
}
.cloud:nth-child(1){
  width:200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(2){
  width:300px;
  top: 0px;
  animation: wind 50s linear infinite reverse;
  
}
.mario{
  position: absolute;
  top: -30px;
  left: 0px;
  height: 13vh;
  animation-duration: 3s;
  animation: drive 3s both infinite linear,
   jump 0.3s 1.5s  ;
  
  
}
.luigi{
  position: absolute;
  top: 60px;
  left: 0px;
  height: 13vh;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  
}

/*// KEYFRAMES //*/
@keyframes drive {
  from{transform: translateX(0) }
  to{transform: translateX(90vw)}
  
}
@keyframes wind{
  from{left: -300px}
  to{left: 100%}
}
@keyframes jump{
  0%{top:-40px}
  50%{top: -100px }
  100%{top:-40px}
}



.flip-right {
  -webkit-animation: flipRight 1 2s ease-out;
  -moz-animation: flipRight 1 2s ease-out;
  -ms-animation: flipRight 1 2s ease-out;
  -o-animation: flipRight 1 2s ease-out;
  animation: flipRight 1 2s ease-out;
  /* opacity: 1 !important; */
  /* visibility: visible !important; */
}
@-webkit-keyframes flipRight {
  0% {
    -webkit-transform: translateX(100px);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes flipRight {
  0% {
    -moz-transform: translateX(100px);
    opacity: 0;
  }
  70% {
    -moz-transform: translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes flipRight {
  0% {
    -ms-transform: translateX(100px);
    opacity: 0;
  }
  70% {
    -ms-transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes flipRight {
  0% {
    -o-transform: translateX(100px);
    opacity: 0;
  }
  70% {
    -o-transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes flipRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes flipRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes flipRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes flipRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
}


.brokenWhite{
  background:#f8f9fa;
}